cython>=3.0
numpy>=2.0
pandas>=2.2
scipy
scikit-learn>=1.4
statsmodels
matplotlib
seaborn
plotly
pyyaml
ruamel.yaml>=0.17.38
redis
dill
tqdm
loguru
joblib
pyarrow
pydantic-settings
requests
python-dotenv
filelock>=3.16
lightgbm>=4.6
xgboost>=2.0
tushare
fire
datacompy
gm
python-redis-lock
pypdf
